{% extends "app_home/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
<body>

    <h1>MÁS SOBRE MI</h1>

    <p>Mi nombre es Nicolás Marcos Grandich, tengo 30 años y resido en Bs. As. Argentina. Trabajo en el area comercial de una distribuidora de materiales eléctricos, avocada a la venta industrial.</p>


    <p>Esta página WEB fue realizada enteramente por mi persona, la cual, proviene de una trabajo práctica solicitado en mi primer curso realizado en CoderHouse. (sin estudios previos en programación)  </p>
    
</body>
</html>

{% endblock %}