{% extends "app_home/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Ingreso de tenista</h1>

    <h1>El tenista número {{tenis.numeroDeSocio}} se llama {{tenis.nombre}} y fue cargado el {{tenis.fechaDeIngreso}}</h1>
    <h1>Email: {{tenis.email}}</h1>

   



   
</body>
</html>

{% endblock %}