{% extends "app_home/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de socios inscriptos en tenis</h2>
<a class="card_custom" href="{% url 'TenisDjangoForms' %}">Inscribirse en tenis</a>
<hr></hr>

    <ul>
        {% for tenis in tenis %}
            <li>
                {{tenis.nombre}}
                -- Socio N° {{tenis.numeroDeSocio }}
                -- Ingreso: {{tenis.fechaDeIngreso}}
                -- Mail: {{tenis.email}}
            </li>
        {% endfor %}
    </ul>

    
</body>
</html>

{% endblock %}