{% extends "app_home/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de basquetbolistas registrados</h2>
<a class="card_custom" href="{% url 'basquet-add' %}">Registrar nuevo basquetbolista</a>
<hr></hr>
<ul>
    
    {% if basquet_list %}
    {% for basquet in basquet_list %}
    <li>
        {{basquet}}
        (
        <a href="{% url 'basquet-detail' basquet.id %}">
            <i class="fa fa-eye" style="color: rgb(0, 0, 255);">Detalle </i>
        </a>
        |
        <a href="{% url 'basquet-update' basquet.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);">Modificar </i>
        </a>
        |
        <a href="{% url 'basquet-delete' basquet.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);">Eliminar </i>
        </a>
        )
    </li>

    {% endfor %}

    {% else %}
    <p>NO HAY REGISTRO</p>
    {% endif %}
</ul>

{% endblock %}