{% extends "app_home/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Lista de socios inscriptos en fútbol</h2>
<a class="card_custom" href="{% url 'FutbolDjangoForms' %}">Inscribirse en fútbol</a>
<hr></hr>

    <ul>
        {% for futbol in futbol %}
            <li>
                {{futbol.nombre}}
                -- Socio N° {{futbol.numeroDeSocio }}
                -- Ingreso: {{futbol.fechaDeIngreso}}
                -- Mail: {{futbol.email}}
            </li>
        {% endfor %}
    </ul>

    
</body>
</html>

{% endblock %}